
@font-face {
    font-family: "Noodle";
    src: url(../fonts/noodle.ttf);
}

@font-face {
    font-family: "Raleway-Black";
    src: url(../fonts/Raleway/Raleway-Black.ttf);
}

@font-face {
    font-family: "Raleway-Bold";
    src: url(../fonts/Raleway/Raleway-Bold.ttf);
}

@font-face {
    font-family: "Raleway-Light";
    src: url(../fonts/Raleway/Raleway-Light.ttf);
}

@font-face {
    font-family: "Raleway-Medium";
    src: url(../fonts/Raleway/Raleway-Medium.ttf);
}

@font-face {
    font-family: "Raleway-Regular";
    src: url(../fonts/Raleway/Raleway-Regular.ttf);
}
